.cardsContainer {
    display: flex;
    gap: 20px; 
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto; 
}

.card {
    padding: 13px 20px;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e9e9e9;
    /* align-items: center;  */
    gap: 15px; 
    position: relative;
    width: 250px; 
    /* width set cá»©ng */
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.texts {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 12px;
}

.number {
    font-size: 19px;
    font-weight: 600;
}

.detail {
    font-size: 11px;
    font-weight: 300;
}

.positive {
    color: lime;
}

.negative {
    color: red;
}

.icon {
    position: absolute;
    top: 10px;
    right: 15px; 
}