.container {
    display: flex;
    background-color: #F5F6FA;
    height: 1000px;
    /* margin-left: 20px;
    margin-right: 20px; */
}

.h3 {
    font-size: 24px;
    font-weight: bolder;
    margin-left: 31px;
    margin-top: 10px;
}

.menu {
    flex: 0.75;
    background-color: #e4dbfa;
    padding: 20px;
}

.content {
    flex: 4.25;
    /* padding: 20px; */
}

.wrapper {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.main {
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 13px;
    margin-right: 13px;
}

.cards {
    display: flex;
    gap: 15px;
    justify-content: center;
}