.container {
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 10px;
    margin-top: 10px;
}

.h3 {
    font-size: 24px;
    font-weight: bolder;
    /* margin-top: 10px; */
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-top: 10px;
}

.addButton {
    padding: 6px 15px;
    background-color: #D9D9D9;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    margin-bottom: 10px;
    /* margin-left: 10px; */
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
    height: 30px;
}

.table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0; 
    border-radius: 10px;
    overflow: hidden;
    /* border: 1px solid #D8D8D8; */
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
}

.user {
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 100%; 
    background-color: #fff;
}

.table thead tr {
    background-color: #fff;
    font-weight: 600;
    font-size: 12px;
}

.table thead tr:first-child td:first-child {
    border-top-left-radius: 10px; 
}

.table thead tr:first-child td:last-child {
    border-top-right-radius: 10px; 
}

.table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px; 
}

.table td {
    padding: 10px;
    /* border-bottom: 1px solid #D8D8D8; */
    border-top: 1px solid #D8D8D8;
}

.table tr:last-child td {
    border-bottom: none;
}

.table tbody tr td {
    font-size: 11px;
}

.table th, .table td {
    text-align: center;
    padding: 10px;
}

.userImage {
    border-radius: 10px;
    object-fit: cover;
}

.buttons {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.buttonEdit {
    padding: 2px; 
    border-radius: 5px;
    width: 20px; 
    height: 20px;
    cursor: pointer;
    background-color: #FAFBFD;
    border: 1px solid #D5D5D5;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.buttonDelete {
    padding: 2px; 
    border-radius: 5px;
    width: 20px; 
    height: 20px;
    cursor: pointer;
    background-color: #FAFBFD;
    border: 1px solid #D5D5D5;
    display: flex; 
    align-items: center; 
    justify-content: center;
    color: #EF3826;
}

.modal{
    padding: 5px 15px;
}

.h1{
    font-size: 33px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: #202224;
}

.h3header{
    font-size: 21px;
    font-weight: 500;
    color: #202224;
    margin-bottom: 5px;
}

.sizeSelector {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 15px;
    color: #545454;
    font-weight: 500;
}

.sizeSelector label input[type="radio"]{
    margin-right: 10px;
}

.otherReason{
    border: 1px solid rgb(203, 203, 203);
    border-radius: 10px;
    font-size: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box; /* Includes padding and border in the width */
    resize: vertical; /* Allows only vertical resizing */
    min-height: 40px; 
}

.buttonBan{
    background-color: #5D5FEF;
    padding: 5px 15px;
    color: #fff;
    border-radius: 10px;
    margin-top: 20px;
}


.button {
    padding: 2px; 
    border-radius: 5px;
    width: 20px; 
    height: 20px;
    cursor: pointer;
    margin: auto;
    background-color: #FAFBFD;
    border: 1px solid #D5D5D5;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.dropdown {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdownHeader {
    background-color: #f2f2f2;
    padding: 8px 12px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    text-align: center;
}

.dropdownContent {
    padding: 12px;
}

.dropdownItem:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.dropdownItem {
    /* border-bottom: 1px solid #ccc; */
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.itemHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.itemHeader span {
    font-size: 14px;
    font-weight: 600;
}

.itemContent {
    display: flex;
    flex-direction: column;
}

.itemProduct {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 4px;
    align-items: center;
}

.productImage {
    width: 44px;
    height: 44px;
}

.itemTotal {
    text-align: right;
    margin-top: 4px;
}

.itemTotal span {
    font-size: 12px;
    font-weight: bold;
}

.productName {
    font-size: 12px;
    font-weight: 500;
    margin-left: 10px;
}






