.container {
    position: sticky;
    top: 60px;
}

.userImage {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
    /* object-fit: cover; */
}

.list{
    list-style: none;
}

.listname{
    font-size: 13px;
}

.smallFontSize {
    font-size: 9px;
}

.submenuItem {
    padding-left: 20px;
}

.signOutButton {
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    border: none;
    padding: 10px;
    text-align: left;
    width: 100%;
    display: flex;
    align-items: center;
}

.signOutButton:hover {
    background-color: #e0e0e0;
}


